*~
*.o
*.aux
*.bbl
*.blg
*.dvi
*.toc
*.dat
doc
/examples/num0/fibonacci
/examples/num0/lr
/examples/num0/lr_opcount
/examples/num0/matrizen
/examples/num0/precision
/examples/num0/vektoren
/examples/num0/wurzel
/examples/num0/wurzelbanach
/examples/num1/ecke
/examples/num1/hodgkinhuxley
/examples/num1/iemodelproblem
/examples/num1/modelproblem
/examples/num1/modelproblem_high_dim
/examples/num1/modelproblem_ordertest
/examples/num1/modelproblem_runge_kutta
/examples/num1/nbody
/examples/num1/ordertest
/examples/num1/system_example
/examples/num1/system_example.dat
/examples/num1/vanderpol
/examples/progkurs/eingabe
/examples/progkurs/funktion
/examples/progkurs/hallohdnum
/examples/progkurs/mehrzahlen
/examples/progkurs/pendel
/examples/progkurs/pendelmitfunktion
/examples/progkurs/pendelmitfunktionstemplate
/examples/progkurs/pendelmittimer
/examples/progkurs/pendelnumerisch
/examples/progkurs/pendelwhile
/examples/progkurs/string
/examples/progkurs/whitespace
/examples/progkurs/zahlen
/programmierkurs/programmierkurs.log
/programmierkurs/programmierkurs.nav
/programmierkurs/programmierkurs.out
/programmierkurs/programmierkurs.pdf
/programmierkurs/programmierkurs.snm
/programmierkurs/programmierkurs.toc
/programmierkurs/programmierkurs.vrb
/tutorial/hdnum.fdb_latexmk
/tutorial/hdnum.fls
/tutorial/hdnum.log
/tutorial/hdnum.out
/tutorial/hdnum.pdf
/programmierkurs/programmierkurs.fdb_latexmk
/programmierkurs/programmierkurs.fls
